/* stylelint-disable */

.imageGen {
	width: 700px;
    height: 285px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 385px;
    outline: 0;
}

.image1 {
	background-image: url('./images/1.png');
}

.image2 {
	background-image: url('./images/2.png');
}

.image3 {
	background-image: url('./images/3.png');
}

.image4 {
	background-image: url('./images/4.png');
}

.image5 {
	background-image: url('./images/5.png');
}

